
<!-- header -->
<header class="header">
	<div class="inner-wrap">
		<div class="logo-wrap">
			<a href="" class="logo">
				<img src="./img/main/logo.png" alt="">
			</a>
		</div>
		<div class="menu-wrap">
			<ul class="menu">
				<li><a href="">Об авторе</a></li>
				<li><a href="">Состав комплекса</a></li>
				<li><a href="">Результаты клиентов</a></li>
				<li><a href="">Отзывы</a></li>
				<li><a href="">Магазин</a></li>
			</ul>
		</div>
	</div>
</header>
<!-- /header -->